In [1]:
#Import the libraries
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sb
from sklearn.cluster import KMeans
import numpy as np

#Read the CSV File
data_frame=pd.read_csv('C:\\Tanu Documents\\Kaggle Project\\Unsupervised Learning on Country Data\\Dataset.csv', sep=',', header=0)
data_frame.head()

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
1,Albania,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460
3,Angola,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200

In [2]:
# Look for null data
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 10 columns):
country       167 non-null object
child_mort    167 non-null float64
exports       167 non-null float64
health        167 non-null float64
imports       167 non-null float64
income        167 non-null int64
inflation     167 non-null float64
life_expec    167 non-null float64
total_fer     167 non-null float64
gdpp          167 non-null int64
dtypes: float64(7), int64(2), object(1)
memory usage: 13.1+ KB

In [3]:
# Look at the description of the data
data_frame.describe()

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
count,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000
mean,38.270060,41.108976,6.815689,46.890215,17144.688623,7.781832,70.555689,2.947964,12964.155689
std,40.328931,27.412010,2.746837,24.209589,19278.067698,10.570704,8.893172,1.513848,18328.704809
min,2.600000,0.109000,1.810000,0.065900,609.000000,-4.210000,32.100000,1.150000,231.000000
25%,8.250000,23.800000,4.920000,30.200000,3355.000000,1.810000,65.300000,1.795000,1330.000000
50%,19.300000,35.000000,6.320000,43.300000,9960.000000,5.390000,73.100000,2.410000,4660.000000
75%,62.100000,51.350000,8.600000,58.750000,22800.000000,10.750000,76.800000,3.880000,14050.000000
max,208.000000,200.000000,17.900000,174.000000,125000.000000,104.000000,82.800000,7.490000,105000.000000

In [ ]:
data_frame.hist()
plt.show()

In [ ]:
#Visualize the data
sb.pairplot(data_frame[1:], palette='husl')
plt.show()

In [ ]:
# find the correlation
sb.heatmap(data_frame[1:].corr(),annot=True)
plt.show()

In [4]:
frame=data_frame.drop('country',axis=1)
frame.head()

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
1,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090
2,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460
3,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530
4,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200

In [ ]:
# Find number of cluster
SSE = []
for cluster in range(1,20):
    kmeans = KMeans(n_jobs = -1, n_clusters = cluster, init='k-means++')
    kmeans.fit(frame)
    SSE.append(kmeans.inertia_)

# converting the results into a dataframe and plotting them
frame = pd.DataFrame({'Cluster':range(1,20), 'SSE':SSE})
plt.figure(figsize=(12,6))
plt.plot(frame['Cluster'], frame['SSE'], marker='o')
plt.xlabel('Number of clusters')
plt.ylabel('Inertia')
plt.show()

In [5]:
# 3 K-means cluster are making and give label to each cluster
kmeans=KMeans(n_clusters=3)
kmeans.fit(data_frame[['income','gdpp']])
y_means=kmeans.predict(data_frame[['income','gdpp']])
cluster=data_frame
cluster['Labels']=kmeans.labels_

In [6]:
#Divide the cluster into 3 different datafrme
cluster_label0=cluster[cluster['Labels']==0]
cluster_label1=cluster[cluster['Labels']==1]
cluster_label2=cluster[cluster['Labels']==2]

In [ ]:
#Plot the cluster
fig=plt.figure()
ax=fig.add_subplot(111)
ax.scatter(cluster_label0['income'],cluster_label0['gdpp'],color='r',label='cluster 0')
ax.scatter(cluster_label1['income'],cluster_label1['gdpp'],color='b',label='cluster 1')
ax.scatter(cluster_label2['income'],cluster_label2['gdpp'],color='g',label='cluster 2')
ax.legend(labels=['cluster 0','cluster 1','cluster2',])
ax.set_ylabel('gdpp')
ax.set_xlabel('income')
plt.show()

In [7]:
# Select the lowest cluster
df=cluster['Labels'].value_counts()
if(df[0]==18):
    select_frame=cluster_label0
elif(df[1]==18):
    select_frame=cluster_label1
else:
    select_frame=cluster_label2

In [8]:
# Perform K-mean cluster algorithm on the lowest cluster
kmeans=KMeans(n_clusters=3)
kmeans.fit(select_frame[['child_mort','total_fer']])
y_means=kmeans.predict(select_frame[['child_mort','total_fer']])
cluster_1=select_frame
cluster_1['Labels']=kmeans.labels_
cluster_1.describe()

C:\Users\Tanushri Bhaduri\Anaconda\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp,Labels
count,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
mean,47.389844,35.865617,6.332031,45.921609,8569.242188,8.957648,67.873437,3.263359,4438.390625,1.312500
std,40.972276,19.240987,2.348954,19.737419,6833.699409,11.361343,8.259192,1.555788,4100.482425,0.876194
min,4.500000,0.109000,1.970000,0.065900,609.000000,-4.210000,32.100000,1.250000,231.000000,0.000000
25%,16.575000,22.500000,4.855000,30.675000,2470.000000,2.617500,61.775000,2.055000,1030.000000,0.000000
50%,30.750000,31.950000,5.885000,44.000000,6720.000000,6.370000,69.800000,2.665000,3075.000000,2.000000
75%,68.075000,47.925000,7.667500,58.675000,13350.000000,12.100000,74.500000,4.602500,6567.500000,2.000000
max,208.000000,93.800000,14.200000,108.000000,29600.000000,104.000000,80.400000,7.490000,16600.000000,2.000000

In [9]:
#divide the cluster into 3 different data frame
cluster_label0=cluster_1[cluster_1['Labels']==0]
cluster_label1=cluster_1[cluster_1['Labels']==1]
cluster_label2=cluster_1[cluster_1['Labels']==2]

In [ ]:
# Plot the clusters
fig=plt.figure()
ax=fig.add_subplot(111)
ax.scatter(cluster_label0['child_mort'],cluster_label0['total_fer'],color='r',label='cluster 0')
ax.scatter(cluster_label1['child_mort'],cluster_label1['total_fer'],color='b',label='cluster 1')
ax.scatter(cluster_label2['child_mort'],cluster_label2['total_fer'],color='y',label='cluster 2')
ax.legend(labels=['cluster 0','cluster 1','cluster2'])
ax.set_ylabel('child_mort')
ax.set_xlabel('total_fer')
plt.show()

In [13]:
df=cluster_1['Labels'].value_counts()
if(df[0]==18):
    result=cluster_label0
elif(df[1]==18):
    result=cluster_label1
else:
    result=cluster_label2

                      country  child_mort  exports  health  imports  income  \
3                      Angola       119.0     62.3    2.85     42.9    5900
17                      Benin       111.0     23.8    4.10     37.2    1820
25               Burkina Faso       116.0     19.2    6.74     29.6    1430
28                   Cameroon       108.0     22.2    5.13     27.0    2660
31   Central African Republic       149.0     11.8    3.98     26.5     888
32                       Chad       150.0     36.8    4.53     43.5    1930
37           Congo, Dem. Rep.       116.0     41.1    7.91     49.6     609
40              Cote d'Ivoire       111.0     50.6    5.30     43.3    2690
63                     Guinea       109.0     30.3    4.93     43.2    1190
64              Guinea-Bissau       114.0     14.9    8.50     35.2    1390
66                      Haiti       208.0     15.3    6.91     64.7    1500
87                    Lesotho        99.7     39.4   11.10    101.0    2380
97                       Mali       137.0     22.8    4.98     35.1    1870
99                 Mauritania        97.4     50.7    4.41     61.2    3320
106                Mozambique       101.0     31.5    5.21     46.2     918
112                     Niger       123.0     22.2    5.16     49.1     814
113                   Nigeria       130.0     25.3    5.07     17.4    5150
132              Sierra Leone       160.0     16.8   13.10     34.5    1220

     inflation  life_expec  total_fer  gdpp  Labels
3       22.400        60.1       6.16  3530       1
17       0.885        61.8       5.36   758       1
25       6.810        57.9       5.87   575       1
28       1.910        57.3       5.11  1310       1
31       2.010        47.5       5.21   446       1
32       6.390        56.5       6.59   897       1
37      20.800        57.5       6.54   334       1
40       5.390        56.3       5.27  1220       1
63      16.100        58.0       5.34   648       1
64       2.970        55.6       5.05   547       1
66       5.450        32.1       3.33   662       1
87       4.150        46.5       3.30  1170       1
97       4.370        59.5       6.55   708       1
99      18.900        68.2       4.98  1200       1
106      7.640        54.5       5.56   419       1
112      2.550        58.8       7.49   348       1
113    104.000        60.5       5.84  2330       1
132     17.200        55.0       5.20   399       1

In [14]:
result.sort_values(by=['life_expec'])

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp,Labels
66,Haiti,208.0,15.3,6.91,64.7,1500,5.450,32.1,3.33,662,1
87,Lesotho,99.7,39.4,11.10,101.0,2380,4.150,46.5,3.30,1170,1
31,Central African Republic,149.0,11.8,3.98,26.5,888,2.010,47.5,5.21,446,1
106,Mozambique,101.0,31.5,5.21,46.2,918,7.640,54.5,5.56,419,1
132,Sierra Leone,160.0,16.8,13.10,34.5,1220,17.200,55.0,5.20,399,1
64,Guinea-Bissau,114.0,14.9,8.50,35.2,1390,2.970,55.6,5.05,547,1
40,Cote d'Ivoire,111.0,50.6,5.30,43.3,2690,5.390,56.3,5.27,1220,1
32,Chad,150.0,36.8,4.53,43.5,1930,6.390,56.5,6.59,897,1
28,Cameroon,108.0,22.2,5.13,27.0,2660,1.910,57.3,5.11,1310,1
37,"Congo, Dem. Rep.",116.0,41.1,7.91,49.6,609,20.800,57.5,6.54,334,1
25,Burkina Faso,116.0,19.2,6.74,29.6,1430,6.810,57.9,5.87,575,1
63,Guinea,109.0,30.3,4.93,43.2,1190,16.100,58.0,5.34,648,1
112,Niger,123.0,22.2,5.16,49.1,814,2.550,58.8,7.49,348,1
97,Mali,137.0,22.8,4.98,35.1,1870,4.370,59.5,6.55,708,1
3,Angola,119.0,62.3,2.85,42.9,5900,22.400,60.1,6.16,3530,1
113,Nigeria,130.0,25.3,5.07,17.4,5150,104.000,60.5,5.84,2330,1
17,Benin,111.0,23.8,4.10,37.2,1820,0.885,61.8,5.36,758,1
99,Mauritania,97.4,50.7,4.41,61.2,3320,18.900,68.2,4.98,1200,1